*.obj
*.orig
*.rej
*~
*.o
*.log
*.lo
*.tar.*
*.bak
Makefile.in
aclocal.m4
config.h.in
configure
Makefile
config.h
config.log
config.status
libtool
stamp-h1
lemon/lemon.pc
lemon/libemon.la
lemon/stamp-h2
doc/Doxyfile
doc/references.dox
cmake/version.cmake
.dirstamp
.libs/*
.deps/*
demo/*.eps
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
